body{
    max-height: 100vh;
    background-color: aqua;
    display: flex;
    text-align: center;
}

.clock{
    border: solid 8px black;
    border-radius: 50%;
    background-color: blue;
    height: 250px;
    width: 250px;
    margin: 15%; 
}

.faceOfClock{
    border: solid 5px yellow;
    border-radius: 50%;
    background-color: blue;
    height: 243px;
    width: 240px; 
    position: relative;  
}

#clockHand{
    border: solid 1px black;
    background-color: orange;
    width: 50%;
    height: 6px;
    position: absolute;
    top: 50%;
    transform-origin: 100%; /* allows clock hands to move in cicle*/
    transform:rotate(90deg); /* moves hands from horizontal to vertical position*/
    transition: all 0.05s; /* Enables clock hands to move at a particular speed 0.5seconds*/ 
    transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

.secondsHand{
    background-color: red;
    height:2px ; 
}

.minutesHand{
    background: purple; 
    height: 3px; 
    width: 40%; 
    left: 10%; 
}

.hourHand{
    height: 6px; 
    width: 30%;   
    left: 20%; 
}